<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>boot</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"  
      href="/webjars/css/test.css" th:href="@{/css/test.css}" />
      
      <link rel="stylesheet" type="text/css" media="all"  
      href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

	<body>
	
	<div th:replace="fragments/header :: header">
	</div>
	
	<div class="container">
	<h2>Users page</h2>
	
	<table>
    <thead>
    <tr>
        <th>E-mail</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><a href="/user/${user.id}" th:text="${user.email}">email</a></td>
        <td align="right" th:text="${user.role}">role</td>
    </tr>
    </tbody>
</table>
	</div>
	
	</body>
</html>