<html xmlns:th="http://www.thymeleaf.org">

<!-- Use header default form fragments header -->
<div th:replace="fragments/header :: head">

</div>

	<body>
	
	<div th:replace="fragments/menu :: menu">
	</div>
	
	<div class="container">
	<h2>Users page</h2>
	
	<table>
    <thead>
    <tr>
        <th>E-mail</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><a th:href="@{'/user/' + ${user.id}}" th:text="${user.email}">email</a></td>
        <td align="right" th:text="${user.role}">role</td>
    </tr>
    </tbody>
</table>
	</div>
	
	</body>
</html>